<!DOCTYPE html>

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>无纸化办公</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- http://davidbcalhoun.com/2010/viewport-metatag -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- For all browsers -->
	<link rel="stylesheet" href="__PUBLIC__/css/reset.css?v=1">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css?v=1">
	<link rel="stylesheet" href="__PUBLIC__/css/colors.css?v=1">
	<link rel="stylesheet" media="print" href="__PUBLIC__/css/print.css?v=1">
	<!-- For progressively larger displays -->
	<link rel="stylesheet" media="only all and (min-width: 480px)" href="__PUBLIC__/css/480.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 768px)" href="__PUBLIC__/css/768.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 992px)" href="__PUBLIC__/css/992.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 1200px)" href="__PUBLIC__/css/1200.css?v=1">
	<!-- For Retina displays -->
	<link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="css/2x.css?v=1">

	<!-- Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

	<!-- Additional styles -->
	<link rel="stylesheet" href="__PUBLIC__/css/styles/form.css?v=1">
	<link rel="stylesheet" href="__PUBLIC__/css/styles/switches.css?v=1">
	<link rel="stylesheet" href="__PUBLIC__/css/styles/table.css?v=1">
	<link rel="stylesheet" href="__PUBLIC__/css/styles/modal.css?v=1">

	<!-- DataTables -->
	<link rel="stylesheet" href="__PUBLIC__/js/libs/DataTables/jquery.dataTables.css?v=1">

	<!-- JavaScript at bottom except for Modernizr -->
	<script src="__PUBLIC__/js/libs/modernizr.custom.js"></script>

	<!-- For Modern Browsers -->
	<link rel="shortcut icon" href="__PUBLIC__/img/favicons/favicon.png">
	<!-- For everything else -->
	<link rel="shortcut icon" href="__PUBLIC__/img/favicons/favicon.ico">
	<!-- For retina screens -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="__PUBLIC__/img/favicons/apple-touch-icon-retina.png">
	<!-- For iPad 1-->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="__PUBLIC__/img/favicons/apple-touch-icon-ipad.png">
	<!-- For iPhone 3G, iPod Touch and Android -->
	<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/img/favicons/apple-touch-icon.png">

	<!-- iOS web-app metas -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Startup image for web apps -->
	<link rel="apple-touch-startup-image" href="__PUBLIC__/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
	<link rel="apple-touch-startup-image" href="__PUBLIC__/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
	<link rel="apple-touch-startup-image" href="__PUBLIC__/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

	<!-- Microsoft clear type rendering -->
	<meta http-equiv="cleartype" content="on">
</head>

<body class="clearfix with-menu with-shortcuts">

	<!-- Prompt IE 6 users to install Chrome Frame -->
	<!--[if lt IE 7]><p class="message red-gradient simpler">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<!-- Title bar -->
	<header role="banner" id="title-bar">
		<h2>Paperless Office <a href="#" target="_blank" title="无纸化办公">无纸化办公</a></h2>
	</header>

	<!-- Button to open/hide menu -->
	<a href="#" id="open-menu"><span>Menu</span></a>

	<!-- Button to open/hide shortcuts -->
	<a href="#" id="open-shortcuts"><span class="icon-thumbs"></span></a>

	<!-- Main content -->
	<section role="main" id="main">

		<noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>

		<hgroup id="main-title" class="thin">
			<h1>Tables</h1>
		</hgroup>

		<div class="with-padding">

			<table class="table responsive-table" id="sorting-advanced">

				<thead>
					<tr>
						<th scope="col"><input type="checkbox" name="check-all" id="check-all" value="1"></th>
						<th scope="col">职员编号</th>
						<th scope="col" width="15%" class="align-center hide-on-mobile">职员姓名</th>
						<th scope="col" width="15%" class="align-center hide-on-mobile-portrait">Status</th>
						<th scope="col" width="15%" class="hide-on-tablet">Tags</th>
						<th scope="col" width="60" class="align-center">Actions</th>
					</tr>
				</thead>

				<tfoot>
					<tr>
						<td colspan="6">
							6 entries found
						</td>
					</tr>
				</tfoot>

				<tbody>
					
					
						{volist name="result" id="vo"}
						<tr>
						<th scope="row" class="checkbox-cell"><input type="checkbox" name="checked[]" id="check-1" value="1"></th>
						<td>{$vo['id']}</td>
						<td>{$vo['name']}</td>
						<td>{$vo['ustatus']}</td>
						<td><small class="tag">{$vo.tag}</small></td>
						<td class="low-padding align-center"><a href="javascript:openModaledit()" class="button compact icon-gear">Edit</a><a href="javascript:openModaldelect()" class="button compact icon-gear">DEL</a></td>
						</tr>		
						{/volist}
					
				</tbody>

			</table>
			
			

		

		</div>

	</section>
	<!-- End main content -->

	<!-- Side tabs shortcuts -->
	<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
		<li><a href="{:url('index/index/zhuye')}" class="shortcut-dashboard" title="Dashboard">Basic routine</a></li>
		<li><a href="{:url('index/index/message')}" class="shortcut-messages" title="Messages">Messages</a></li>
		<li><a href="{:url('index/index/agenda')}" class="shortcut-agenda" title="Agenda">Agenda</a></li>
		<li  class="current"><a href="{:url('index/index/Contacts')}" class="shortcut-contacts" title="Contacts">Contacts</a></li>
		<li><a href="{:url('index/index/medias')}" class="shortcut-medias" title="Medias">Medias</a></li>
		<li><a href="#" class="shortcut-stats" title="Stats">Stats</a></li>
		<li class="at-bottom"><a href="#" class="shortcut-settings" title="Settings">Settings</a></li>
		<li><span class="shortcut-notes" title="Notes">Notes</span></li>
	</ul>

	<!-- Sidebar/drop-down menu -->
	<section id="menu" role="complementary">

		<!-- This wrapper is used by several responsive layouts -->
		<div id="menu-content">

			<header>
				Administrator
			</header>

			<div id="profile">
				<img src="__PUBLIC__/img/user.png" width="64" height="64" alt="User name" class="user-icon">
				Hello
				<span class="name">{$name}</span>
			</div>

			<!-- By default, this section is made for 4 icons, see the doc to learn how to change this, in "basic markup explained" -->
			<ul id="access" class="children-tooltip">
				<li><a href="message.html" title="Messages"><span class="icon-inbox"></span><span class="count">2</span></a></li>
				<li><a href="agenda.html" title="Calendar"><span class="icon-calendar"></span></a></li>
				<li><a href="login.html" title="Profile"><span class="icon-user"></span></a></li>
				<li class="disabled"><span class="icon-gear"></span></li>
			</ul>

		

			<ul class="unstyled-list">
				<li class="title-menu">Today's event</li>
				<li>
					<ul class="calendar-menu">
						<li>
							<a href="#" title="See event">
								<time datetime="2011-02-24"><b>24</b> Feb</time>
								<small class="green">10:30</small>
								Event's description
							</a>
						</li>
					</ul>
				</li>
				<li class="title-menu">New messages</li>
				<li>
					<ul class="message-menu">
						<li>
							<span class="message-status">
								<a href="#" class="starred" title="Starred">Starred</a>
								<a href="#" class="new-message" title="Mark as read">New</a>
							</span>
							<span class="message-info">
								<span class="blue">17:12</span>
								<a href="#" class="attach" title="Download attachment">Attachment</a>
							</span>
							<a href="#" title="Read message">
								<strong class="blue">John Doe</strong><br>
								<strong>Mail subject</strong>
							</a>
						</li>
						<li>
							<a href="#" title="Read message">
								<span class="message-status">
									<span class="unstarred">Not starred</span>
									<span class="new-message">New</span>
								</span>
								<span class="message-info">
									<span class="blue">15:47</span>
								</span>
								<strong class="blue">May Starck</strong><br>
								<strong>Mail subject a bit longer</strong>
							</a>
						</li>
						<li>
							<span class="message-status">
								<span class="unstarred">Not starred</span>
							</span>
							<span class="message-info">
								<span class="blue">15:12</span>
							</span>
							<strong class="blue">May Starck</strong><br>
							Read message
						</li>
					</ul>
				</li>
			</ul>

		</div>
		<!-- End content wrapper -->

		<!-- This is optional -->
		<footer id="menu-footer">
			<p class="button-height">
				<input type="checkbox" name="auto-refresh" id="auto-refresh" checked="checked" class="switch float-right">
				<label for="auto-refresh">Auto-refresh</label>
			</p>
		</footer>

	</section>
	<!-- End sidebar/drop-down menu -->

	<!-- JavaScript at the bottom for fast page loading -->

	<!-- Scripts -->
	<script src="__PUBLIC__/js/libs/jquery-1.8.2.min.js"></script>
	<script src="__PUBLIC__/js/setup.js"></script>

	<!-- Template functions -->
	<script src="__PUBLIC__/js/developr.input.js"></script>
	<script src="__PUBLIC__/js/developr.navigable.js"></script>
	<script src="__PUBLIC__/js/developr.notify.js"></script>
	<script src="__PUBLIC__/js/developr.scroll.js"></script>
	<script src="__PUBLIC__/js/developr.tooltip.js"></script>
	<script src="__PUBLIC__/js/developr.table.js"></script>

	<!-- Plugins -->
	<script src="__PUBLIC__/js/libs/jquery.tablesorter.min.js"></script>
	<script src="__PUBLIC__/js/libs/DataTables/jquery.dataTables.min.js"></script>

	<script src="__PUBLIC__/js/developr.message.js"></script>
	<script src="__PUBLIC__/js/developr.modal.js"></script>



	<script src="__PUBLIC__/js/developr.progress-slider.js"></script>

	<script src="__PUBLIC__/js/developr.confirm.js"></script>
	<script src="__PUBLIC__/js/developr.agenda.js"></script>
	<script src="__PUBLIC__/js/developr.tabs.js"></script>		<!-- Must be loaded last -->

	<!-- Tinycon -->
	<script src="__PUBLIC__/js/libs/tinycon.min.js"></script>

	<script>

		// Call template init (optional, but faster if called manually)
		$.template.init();

		//edit user
		function openModaledit()
		{
			
			$.modal({
				content: '<p>员工人事管理</p>'+
						  '<form action="updateuser" method="post" id="form1">'+
						  '<ul class="simple-list with-icon">'+
						  '<div style="text-align: center;margin: 10px 5px 10px 5px "><td>职员编号</td><input type="text" name="id" value="" required="required"></div>'+
						  '<div style="text-align: center;margin: 10px 5px 10px 5px "><td>姓名</td><input type="text" name="name" value="" required="required"></div>'+
						  '<div style="text-align: center;margin: 10px 5px 10px 5px "><td>职位</td><input type="text" name="ustatus" value="" ></div>'+
						  '<div style="text-align: center;margin: 10px 5px 10px 5px "><td>评价</td><input type="text" name="tag" value="" ></div>'+
						  '<button type="submit">提交</button>'+
						  '</ul>'+
						  '</form>',
				title: 'Example modal window',
				width: 300,
				scrolling: false,
				actions: {
					'Close' : {
						color: 'red',
						click: function(win) { win.closeModal(); }
					},
					'Center' : {
						color: 'green',
						click: function(win) { win.centerModal(true); }
					},
					'Refresh' : {
						color: 'blue',
						click: function(win) { win.closeModal(); }
					},
					'Abort' : {
						color: 'orange',
						click: function(win) { win.closeModal(); }
					}
				},
				buttons: {
					'Close': {
						classes:	'huge blue-gradient glossy full-width',
						click:		function(win) { win.closeModal(); }
					}
				},
				buttonsLowPadding: true
			});
		};


		//uesr delect
		function openModaldelect()
		{
			
			$.modal({
				content: '<p>员工人事管理</p>'+
						  '<form action="deluser" method="post" id="form1">'+
						  '<ul class="simple-list with-icon">'+
						  '<div style="text-align: center;margin: 10px 5px 10px 5px "><td>职员编号</td><input type="text" name="id" value="" required="required"></div>'+
						  '<div style="text-align: center;margin: 10px 5px 10px 5px "><td>姓名</td><input type="text" name="name" value="" required="required"></div>'+
						  '<div style="text-align: center;margin: 10px 5px 10px 5px "><td>职位</td><input type="text" name="ustatus" value="" ></div>'+
						  '<button type="submit">提交</button>'+
						  '</ul>'+
						  '</form>',
				title: 'Example modal window',
				width: 300,
				scrolling: false,
				actions: {
					'Close' : {
						color: 'red',
						click: function(win) { win.closeModal(); }
					},
					'Center' : {
						color: 'green',
						click: function(win) { win.centerModal(true); }
					},
					'Refresh' : {
						color: 'blue',
						click: function(win) { win.closeModal(); }
					},
					'Abort' : {
						color: 'orange',
						click: function(win) { win.closeModal(); }
					}
				},
				buttons: {
					'Close': {
						classes:	'huge blue-gradient glossy full-width',
						click:		function(win) { win.closeModal(); }
					}
				},
				buttonsLowPadding: true
			});
		};
		// Table sort - DataTables
		var table = $('#sorting-advanced');
		table.dataTable({
			'aoColumnDefs': [
				{ 'bSortable': false, 'aTargets': [ 0, 5 ] }
			],
			'sPaginationType': 'full_numbers',
			'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
			'fnInitComplete': function( oSettings )
			{
				// Style length select
				table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
				tableStyled = true;
			}
		});

		// Table sort - styled
		$('#sorting-example1').tablesorter({
			headers: {
				0: { sorter: false },
				5: { sorter: false }
			}
		}).on('click', 'tbody td', function(event)
		{
			// Do not process if something else has been clicked
			if (event.target !== this)
			{
				return;
			}

			var tr = $(this).parent(),
				row = tr.next('.row-drop'),
				rows;

			// If click on a special row
			if (tr.hasClass('row-drop'))
			{
				return;
			}

			// If there is already a special row
			if (row.length > 0)
			{
				// Un-style row
				tr.children().removeClass('anthracite-gradient glossy');

				// Remove row
				row.remove();

				return;
			}

			// Remove existing special rows
			rows = tr.siblings('.row-drop');
			if (rows.length > 0)
			{
				// Un-style previous rows
				rows.prev().children().removeClass('anthracite-gradient glossy');

				// Remove rows
				rows.remove();
			}

			// Style row
			tr.children().addClass('anthracite-gradient glossy');

			// Add fake row
			$('<tr class="row-drop">'+
				'<td colspan="'+tr.children().length+'">'+
					'<div class="float-right">'+
						'<button type="submit" class="button glossy mid-margin-right">'+
							'<span class="button-icon"><span class="icon-mail"></span></span>'+
							'Send mail'+
						'</button>'+
						'<button type="submit" class="button glossy">'+
							'<span class="button-icon red-gradient"><span class="icon-cross"></span></span>'+
							'Remove'+
						'</button>'+
					'</div>'+
					'<strong>Name:</strong> John Doe<br>'+
					'<strong>Account:</strong> admin<br>'+
					'<strong>Last connect:</strong> 05-07-2011<br>'+
					'<strong>Email:</strong> john@doe.com'+
				'</td>'+
			'</tr>').insertAfter(tr);

		}).on('sortStart', function()
		{
			var rows = $(this).find('.row-drop');
			if (rows.length > 0)
			{
				// Un-style previous rows
				rows.prev().children().removeClass('anthracite-gradient glossy');

				// Remove rows
				rows.remove();
			}
		});

		// Table sort - simple
	    $('#sorting-example2').tablesorter({
			headers: {
				5: { sorter: false }
			}
		});

	</script>
</body>
</html>