<!DOCTYPE html>

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>无纸化办公</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- http://davidbcalhoun.com/2010/viewport-metatag -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- For all browsers -->
	<link rel="stylesheet" href="__PUBLIC__/css/reset.css?v=1">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css?v=1">
	<link rel="stylesheet" href="__PUBLIC__/css/colors.css?v=1">
	<link rel="stylesheet" media="print" href="__PUBLIC__/css/print.css?v=1">
	<!-- For progressively larger displays -->
	<link rel="stylesheet" media="only all and (min-width: 480px)" href="__PUBLIC__/css/480.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 768px)" href="__PUBLIC__/css/768.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 992px)" href="__PUBLIC__/css/992.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 1200px)" href="__PUBLIC__/css/1200.css?v=1">
	<!-- For Retina displays -->
	<link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="__PUBLIC__/css/2x.css?v=1">

	<!-- Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

	<!-- Additional styles -->
	<link rel="stylesheet" href="__PUBLIC__/css/styles/progress-slider.css?v=1">
	<link rel="stylesheet" href="__PUBLIC__/css/styles/switches.css?v=1">
	<link rel="stylesheet" href="__PUBLIC__/css/styles/files.css?v=1">

	<!-- JavaScript at bottom except for Modernizr -->
	<script src="__PUBLIC__/js/libs/modernizr.custom.js"></script>

	<!-- For Modern Browsers -->
	<link rel="shortcut icon" href="__PUBLIC__/img/favicons/favicon.png">
	<!-- For everything else -->
	<link rel="shortcut icon" href="__PUBLIC__/img/favicons/favicon.ico">
	<!-- For retina screens -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="__PUBLIC__/img/favicons/apple-touch-icon-retina.png">
	<!-- For iPad 1-->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="__PUBLIC__/img/favicons/apple-touch-icon-ipad.png">
	<!-- For iPhone 3G, iPod Touch and Android -->
	<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/img/favicons/apple-touch-icon.png">

	<!-- iOS web-app metas -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Startup image for web apps -->
	<link rel="apple-touch-startup-image" href="__PUBLIC__/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
	<link rel="apple-touch-startup-image" href="__PUBLIC__/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
	<link rel="apple-touch-startup-image" href="__PUBLIC__/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

	<!-- Microsoft clear type rendering -->
	<meta http-equiv="cleartype" content="on">

	<script language="JavaScript" type="text/javascript">

	function d()
	{

		alert("2333");
	}
	</script>

</head>

<body class="clearfix with-menu with-shortcuts">

	<!-- Prompt IE 6 users to install Chrome Frame -->
	<!--[if lt IE 7]><p class="message red-gradient simpler">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<!-- Title bar -->
	<header role="banner" id="title-bar">
		<h2>Paperless Office <a href="#" target="_blank" title="无纸化办公">无纸化办公</a></h2>
	</header>

		
												
	<!-- Button to open/hide menu -->
	<a href="#" id="open-menu"><span>Menu</span></a>

	<!-- Button to open/hide shortcuts -->
	<a href="#" id="open-shortcuts"><span class="icon-thumbs"></span></a>

	<!-- Main content -->
	<section role="main" id="main">

		<noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>

		<hgroup id="main-title" class="thin">
			<h1>消息</h1>
		</hgroup>

		<div class="with-padding">

			
			<div class="content-panel margin-bottom">

				<div class="panel-navigation silver-gradient">

					<div class="panel-control">
						<a href="#" class="button icon-undo">Refresh</a>
					</div>

					<div class="panel-load-target scrollable" style="height:490px">

						<div class="navigable">

							<ul class="unstyled-list open-on-panel-content">
								<li class="big-menu grey-gradient with-right-arrow">
									<span><span class="list-count">5</span>Clients</span>
									<ul class="message-menu">
										{volist name="resultcli" id="vo"}
											<li class="message-menu">
											<span class="message-status">
												{if condition="$vo.misstarck == 0 "} 
													<a href="#" class="unstarred" title="Not starred">Not starred</a>
												{else /} 
													<a href="#" class="starred" title="Starred">Starred</a>
												{/if}
												
												{if condition="$vo.misread == 0 "} 
													<a></a>
												{else /} 
													<a href="#" class="new-message" title="Mark as read">New</a>
												{/if}	
											</span>

											<span class="message-info">
												<span class="blue">{$vo.mtime}</span>
											</span>

											<a  href="javascript:void(0);" onclick="d()" title="Read message">
												<strong class="blue">{$vo.msend}</strong><br>
												{$vo.mtitle}{$vo.mthing}
											</a>
											
											</li>
										{/volist}	
									</ul>
								</li>
								<li class="big-menu grey-gradient with-right-arrow">
									<span><span class="list-count">8</span>Friends</span>
									<ul class="message-menu">
										
										{volist name="resultfri" id="vo"}
											<li class="message-menu">
											<span class="message-status">
												{if condition="$vo.misstarck == 0 "} 
													<a href="#" class="unstarred" title="Not starred">Not starred</a>
												{else /} 
													<a href="#" class="starred" title="Starred">Starred</a>
												{/if}
												
												{if condition="$vo.misread == 0 "} 
													<a></a>
												{else /} 
													<a href="#" class="new-message" title="Mark as read">New</a>
												{/if}
												
											</span>
											<span class="message-info">
												<span class="blue">{$vo.mtime}</span>
											</span>
											<a  href="javascript:void(0);" onclick="d()" title="Read message">
												<strong class="blue">{$vo.msend}</strong><br>
												{$vo.mtitle}
											</a>
											</li>
											
										{/volist}		
									</ul>
								</li>
								
							</ul>

						</div>

					</div>

				</div>

				<div class="panel-content linen">

					<div class="panel-control align-right">
						<span class="progress thin" style="width: 40px">
							<span class="progress-bar green-gradient" style="width: 35%"></span>
						</span>
						Used: 35%
						<a href="#" class="button icon-star margin-left">New message</a>
					</div>

					<div class="panel-load-target scrollable with-padding" style="height:450px">

						<h2 class="thin mid-margin-bottom" id="title"></h2>
						<h4 class="no-margin-top">$vo.msend</h4>

						<div class="large-box-shadow white-gradient with-border">

							<div class="button-height with-mid-padding silver-gradient no-margin-top">
								<a href="#" class="button red-gradient float-right with-tooltip" title="Mark as spam">Spam</a>
								<span class="button-group children-tooltip">
									<a href="#" class="button blue-gradient icon-reply" title="Reply to this message">Reply</a>
									<a href="#" class="button" title="Reply to all"><span class="icon-replay-all"></span></a>
									<a href="#" class="button" title="Forward"><span class="icon-extract"></span></a>
								</span>
								<span class="button-group children-tooltip">
									<a href="#" class="button" title="Move to trash"><span class="icon-trash"></span></a>
									<a href="#" class="button" title="Mark as important"><span class="icon-flag"></span></a>
								</span>
							</div>

							<div class="with-padding">
								$vo.mthing

								<div class="left-border grey">
									<p>Hello,</p>

									<p>Sed ut m voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia nisi ut aliquid ex ea commodi consequatur?</p>

									<p>Quis autem vel eum iure reprehenderit qui inquatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

									<p>Regards,</p>

									<p>James</p>
								</div>
							</div>

						</div>

					</div>

				</div>

			</div>

	
		</div>

	</section>
	<!-- End main content -->

	<!-- Side tabs shortcuts -->
	<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
		<li ><a href="{:url('index/index/zhuye')}" class="shortcut-dashboard" title="Dashboard">Basic routine</a></li>
		<li class="current"><a href="{:url('index/index/message')}" class="shortcut-messages" title="Messages">Messages</a></li>
		<li><a href="{:url('index/index/agenda')}" class="shortcut-agenda" title="Agenda">Agenda</a></li>
		<li><a href="{:url('index/index/Contacts')}" class="shortcut-contacts" title="Contacts">Contacts</a></li>
		<li><a href="{:url('index/index/medias')}" class="shortcut-medias" title="Medias">Medias</a></li>
		<li><a href="#" class="shortcut-stats" title="Stats">Stats</a></li>
		<li class="at-bottom"><a href="#" class="shortcut-settings" title="Settings">Settings</a></li>
		<li><span class="shortcut-notes" title="Notes">Notes</span></li>
	</ul>

	<!-- Sidebar/drop-down menu -->
	<section id="menu" role="complementary">

		<!-- This wrapper is used by several responsive layouts -->
		<div id="menu-content">

			<header>
				{$nowpeople.ustatus}
			</header>

			<div id="profile">
				<img src="__PUBLIC__/img/user.png" width="64" height="64" alt="User name" class="user-icon">
				Hello
				<span class="name">{$nowpeople.name}</span>
			</div>

			<!-- By default, this section is made for 4 icons, see the doc to learn how to change this, in "basic markup explained" -->
			<ul id="access" class="children-tooltip">
				<li><a href="message.html" title="Messages"><span class="icon-inbox"></span><span class="count">2</span></a></li>
				<li><a href="agenda.html" title="Calendar"><span class="icon-calendar"></span></a></li>
				<li><a href="personal.html" title="Profile"><span class="icon-user"></span></a></li>
				<li><a href="login.html" title="Login"><span class="icon-gear"></span></a></li>
			</ul>

		

			<ul class="unstyled-list">
				<li class="title-menu">Today's event</li>
				<li>
					<ul class="calendar-menu">
						{volist name="resultnow" id="vo"}
						<li>
							<a href="{:url('index/index/agenda')}" title="See event">
								<time ><b><span id="idata"></span></b> <span id="imonth"></span></time>
								<small class="green">
									<script type="text/javascript">
									var d = new Date()
									var date=d.getDate();
									var month=d.getMonth();
									switch(month+1)
{

	case 1:
	month = "Jan";
	break;
	case 2:
	month = "Feb";
	break;
	case 3:
	month = "Mar";
	break;
	case 4:
	month = "Apr";
	break;
	case 5:
	month = "MAY";
	break;
	case 6:
	month = "Jun";
	break;
	case 7:
	month = "Jul";
	break;
	case 8:
	month = "Aug";
	break;
	case 9:
	month = "Sep";
	break;
	case 10:
	month = "Oct";
	break;
	case 11:
	month = "Nov";
	break;
	case 12:
	month = "Dec";
	break;
	default:
	month = "this is a bug";
}
									 document.getElementById('idata').innerHTML=date;
									 document.getElementById('imonth').innerHTML=month;
									document.write(d.getHours())
									document.write(":")
									document.write(d.getMinutes())
									</script>
								</small>
							{$vo.thing}
							</a>
						</li>
						{/volist}
					</ul>
				</li>
				<li class="title-menu">New messages</li>
				<li>
					<ul class="message-menu">
						<li>
							<span class="message-status">
								<a href="#" class="starred" title="Starred">Starred</a>
								<a href="#" class="new-message" title="Mark as read">New</a>
							</span>
							<span class="message-info">
								<span class="blue">17:12</span>
								<a href="#" class="attach" title="Download attachment">Attachment</a>
							</span>
							<a href="#" title="Read message">
								<strong class="blue">John Doe</strong><br>
								<strong>Mail subject</strong>
							</a>
						</li>
						<li>
							<a href="#" title="Read message">
								<span class="message-status">
									<span class="unstarred">Not starred</span>
									<span class="new-message">New</span>
								</span>
								<span class="message-info">
									<span class="blue">15:47</span>
								</span>
								<strong class="blue">May Starck</strong><br>
								<strong>Mail subject a bit longer</strong>
							</a>
						</li>
						<li>
							<span class="message-status">
								<span class="unstarred">Not starred</span>
							</span>
							<span class="message-info">
								<span class="blue">15:12</span>
							</span>
							<strong class="blue">May Starck</strong><br>
							Read message
						</li>
					</ul>
				</li>
			</ul>

		</div>
		<!-- End content wrapper -->

		<!-- This is optional -->
		<footer id="menu-footer">
			<p class="button-height">
				<input type="checkbox" name="auto-refresh" id="auto-refresh" checked="checked" class="switch float-right">
				<label for="auto-refresh">Auto-refresh</label>
			</p>
		</footer>

	</section>
	<!-- End sidebar/drop-down menu -->

	<!-- JavaScript at the bottom for fast page loading -->

	<!-- Scripts -->
	<script src="__PUBLIC__/js/libs/jquery-1.8.2.min.js"></script>
	<script src="__PUBLIC__/js/setup.js"></script>

	<!-- Template functions -->
	<script src="__PUBLIC__/js/developr.input.js"></script>
	<script src="__PUBLIC__/js/developr.navigable.js"></script>
	<script src="__PUBLIC__/js/developr.notify.js"></script>
	<script src="__PUBLIC__/js/developr.scroll.js"></script>
	<script src="__PUBLIC__/js/developr.progress-slider.js"></script>
	<script src="__PUBLIC__/js/developr.tooltip.js"></script>
	<script src="__PUBLIC__/js/developr.content-panel.js"></script>

	<script>

		// Call template init (optional, but faster if called manually)
		$.template.init();

	</script>
</body>
</html>